
<div class = "post-main">
  <h1><strong><%= @post.title %></strong></h1>
  <div>
    <img class="post-img" src = "<%= @post.img %>">
  </div>
</div>

<%= link_to "하위항목 생성", "/contents/#{@post[:id]}/new" %>

<div class = "post-content">
  <% @contents.each do |c| %>
    <h2 id = "content-title"> <%= c.order %>. <%= c.title %> [<%= link_to '수정하기', "/contents/#{c.id}/edit" %>] </h2>
    <img class="content-img" src = "<%= c.img %>">
    <div class="content-text"> <%= c.text%> </div>
  <% end %>
</div>

<div class = "post-comment">
  <% @comments.each do |c| %>
    <div> <h5> [<%= c.id %>.<%= c.post_id %>] <%= c.text %>  </h5> </div>
  <% end %>
</div>

<style>
  .cancel-content {
    color: grey;
    text-decoration: line-through;
  }

  .content-img {
    max-width: 400px;
  }

  .post-img {
    max-width: 400px;
  }

  .comment {
    font-size: 0.8em;
    vertical-align: super;
  }

  .post-main, .post-content, .post-comment{
    border-bottom: 1px solid black;
    margin : 5px;
  }

</style>

<script type="text/javascript" charset="utf-8">
  window.onload = function () {
    var contentTextEls = document.getElementsByClassName('content-text');
    Array.prototype.map.call(contentTextEls, el => {
        el.innerHTML = el.innerHTML
            .replace(/([\w가-힇]+)\[\[(.+)\]\]/, '<a target="_blank" href=$2>$1</a>')
            .replace(/\{\{(.+)\}\}/, '<span class=cancel-content>$1</span>')
    });
  }
</script>